@inject BookService bookService

@page "/"
@using Library.Domain.Dtos.Book;

<div class="col-xxl d-flex justify-content-center flex-wrap">
    @foreach (var book in books)
    {
        <BookComponent Book="@book" />
    }
</div>



@code{
    private List<BookViewModel> books = new();
    private string exceptionMessage = "";

    protected override async Task OnInitializedAsync()
    {
        var res = await bookService.GetAllBooks();

        if (res.Data != null)
        {
            books = res.Data;
            exceptionMessage = "";
        }
        else
        {
            books = new();
            exceptionMessage = $"Ошибка получения информации о книгах: {res.Excetption.Message}";
        }
        
        await base.OnInitializedAsync();
    }

}